# Ensure proper JSON Content-Type
AddType application/json .json

# NOTE: After issuing SSL (Let's Encrypt), you MAY enable HTTPS redirect:
# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteCond %{HTTPS} !=on
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# </IfModule>
